.choose-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color:azure;
}

.choose-container button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
    margin: 1rem;
}

.choose-container button:hover{
    background-color: skyblue;
    color: white;
}