nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    padding: 1rem .7rem;
    z-index: 1000;
}

nav a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

nav a:hover{
    color: skyblue;
}

.logo{
    font-size: 25px;
}